.footer {
    width: 100%;
    height: max-content;
    background-color: #2D333F;
    display: flex;
    justify-content: flex-end;
}

.footer i {
    font-size: 30px;
    color: #B8A68E;
}

.footer div {
    margin: 10px;
}

.footer div:hover {
    cursor: pointer;
}