.session-form-wrapper {
    width: 460px;
    background-color: white;
    position: relative;
    padding: 50px 0;
}

.session-form {
    margin: 0px 30px;
    top: 50px;
    height: max-content;
}

.session-form-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.session-form form {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.session-form input[type=text], .session-form input[type=password] {
    width: calc(100% - 42px);
    display: inline-block;
    padding: 20px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

.session-form select {
    width: 100%;
    display: inline-block;
    padding: 15px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 5px 0;
    height: 55px;
}

.session-form input:focus, .session-form select:focus {
    outline: none;
}

.session-form button {
    width: 100%;
    background-color: #B8A68E;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin: 5px 0;
    padding: 15px;
}

.session-form button:hover {
    background-color: #2D333F;
}

.modal-link {
    margin-left: 5px;
    color: #B8A68E;
}

.modal-link:hover {
    cursor: pointer;
}

.error-list {
    list-style-type: none;
    padding-left: 0px;
}

.error-item {
    color: #DA3743;
}

.session-form .invalid {
    color: #DA3743;
    border: 1px solid #DA3743 !important;
}

.session-form .hr {
    border-top: 1px solid #ccc;
    margin-top: 15px;
}

.reservation-confirmation-container {
    display: flex;
    justify-content: center;
    height: max-content;
    background-color: white;
    padding: 20px;
}

.reservation-image-container {
    display: flex;
    flex-direction: vertical;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 300px;
    margin: 10px;
}

.reservation-image {
    width: 100%;
    height: auto;
}

.reservation-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 300px;
    height: 100%;
    margin: 10px;
}

.reservation-stable-name {
    font-weight: 900;
    font-size: 24px;
    margin: 10px 0;
}

.reservation-detail-line {
    margin: 3px 0;
}

.reservation-detail-line span {
    margin-right: 5px;
    font-weight: 900;
}

.reservation-confirmation-button {
    width: 100%;
    background-color: #B8A68E;
    color: white;
    font-weight: 900;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 0;
    margin: 10px 0;
}

.reservation-confirmation-button:hover {
    background-color: #2D333F;
    cursor: pointer;
}

.region-change-form-container {
    background-color: white;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.region-change-form-container div {
    margin: 5px 0;
}

.region-change-button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    background-color: #B8A68E;
}

.region-change-button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

#region-change-select {
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
}

#region-change-select:hover {
    cursor: pointer;
}
