.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.nav-logo {
    font-size: 40px;
}

.nav-logo:hover {
    cursor: pointer;
}

.nav-logo .fa-horse-head {
    color: #B8A68E;
    margin-right: 5px;
}

.session-button-container button {
    font-size: 18px;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    width: 80px;
    border: none;
}

.session-button-container button:hover {
    cursor: pointer;
}

.session-button-container button:focus {
    outline: none;
}

.sign-up {
    background-color: #2D333F;
    color: white;
}

.sign-up:hover, .sign-up:focus {
    background-color: #B8A68E;
}

.dropdown-container {
    padding: 15px;
    border-left: 1px solid #ccc;
    position: relative;
}

.dropdown-container:hover {
    cursor: pointer;
}

.logged-in-nav-right {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.logged-in-nav-right .fa-chevron-down {
    padding-left: 5px;
}

.logged-in-nav-right .fa-calendar-alt {
    margin-right: 15px;
}

.logged-in-nav-right .fa-calendar-alt:hover {
    cursor: pointer;
}

#user-dropdown {
    position: absolute;
    height: max-content;
    width: 230px;
    z-index: 1;
    top: 55px;
    right: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    background-color: white;
}

#user-dropdown div {
    width: calc(100%-30px);
    padding: 15px;
}

#user-dropdown div:nth-of-type(1) {
    border-bottom: 1px solid #ccc;
}

#user-dropdown div:hover {
    background-color: #f2f2f2;
}
