* {
    font-family: 'Dosis', sans-serif;
    color: #2D333F;
}

*:focus {
    outline: none;
}

body {
    background-color: #ccc;
    margin: 0;
}

.main-content {
    margin: 0 auto;
    max-width: 1300px;
    min-height: 100vh;
    position: relative;
}

.content-wrapper {
    padding-bottom: 50px;
}

.main-background {
    background-color: white;
    margin: 0 auto;
    max-width: 1300px;
}

.main-content * {
    background-color: transparent;
}