* {
    font-family: 'Dosis', sans-serif;
    color: #2D333F;
}

*:focus {
    outline: none;
}

body {
    background-color: #ccc;
}

.main-content {
    margin: 0 auto;
    max-width: 1300px;
}

.main-content * {
    background-color: white;
}