.show-banner-img-container {
    right: 0;
    left: 0;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.show-banner-img-container .show-banner-img {
    position: absolute;
    width: 1400px;
    height: auto;
    top: -200px;
    left: -70px;
}

.favorite-stable-button {
    position: absolute;
    background-color: white;
    font-size: 18px;
    border-radius: 4px;
    width: 240px;
    height: 50px;
    top: 25px;
    right: 25px;
    border: 1px solid #ccc;
}

.fa-bookmark {
    font-weight: 900;
    margin-right: 10px;
}

.favorite-stable-button:hover {
    cursor: pointer;
    border: 2px solid #B8A68E;
}

.show-content {
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    background-color: transparent;
}

.show-right-container {
    width: 25%;
    height: max-content;
    margin: 0 15px;
    border-radius: 3px 3px 0px 0px;
}

.reservation-form-outer-container {
    width: 100%;
    height: max-content;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 15px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.reservation-form-inner-container {
    margin: 0 15px;
}

.reservation-form-inner-container h1 {
    padding: 11px 0;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 1px solid #ccc;
    margin: 0;
    text-align: center;
}

.reservation-form-inner-container .party-size {
    margin: 15px 0;
}

.reservation-form-inner-container #party-size-select {
    font-size: 16px;
}

.reservation-form-inner-container #party-size-select:hover {
    cursor: pointer;
}

.reservation-form-inner-container select {
    width: 100%;
    border: none;
    border-radius: none;
    height: 35px;
}

.reservation-form-inner-container .hr {
    border-bottom: 1px solid #ccc;
}

.reservation-form-inner-container .hr:hover {
    border-bottom: 3px solid #B8A68E;
}

.reservation-form-inner-container .reservation-lower-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.reservation-lower-inputs div {
    width: calc(50% - 5px);
}

.reservation-lower-inputs .hr {
    width: 100%;
}

.reservation-lower-inputs #date-input {
    height: 35px;
    width: 100%;
    border: none;
    font-size: 16px;
}

.reservation-lower-inputs #date-input:hover, .reservation-lower-inputs #time-select:hover {
    cursor: pointer;
}

.reservation-lower-inputs #time-select {
    font-size: 16px;
}

.reservation-form-inner-container .reservation-form-submit {
    width: 100%;
    background-color: #B8A68E;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 15px;
}

.reservation-form-inner-container .reservation-form-submit:hover {
    background-color: #2D333F;
}

.stable-picture-container {
    width: 100%;
    height: 320px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 15px 0;
}

.stable-picture {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.map-outer-container {
    width: 100%;
    height: 210px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
}

.map-link {
    color: #2D333F;
    text-align: center;
}

.map-link .fa-horse-head {
    margin-right: 8px;
}

.map-link span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #B8A68E;
}

.map-inner-container {
    width: calc(100% - 10px);
    height: 160px;
    margin: 5px auto 0px auto;
    background-color: none;
}

.gm-style {
    background-color: transparent;
}

.info-list-container {
    width: 100%;
    height: max-content;
}

.info-list-item {
    margin: 10px 5px;
    display: flex;
}

.info-list-item i {
    font-size: 18px;
    margin-top: 3px;
}

.info-list-item p {
    margin: 2px 0 4px 10px;
}

.info-item-header {
    font-weight: 900;
}

.slot-buttons-container {
    padding: 15px 0px;
    margin: 0 15px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
}

.slot-button {
    background-color: #B8A68E;
    color: white;
    font-weight: 900;
    margin: 5px;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 15px;
}

.slot-button:hover {
    cursor: pointer;
    background-color: #2D333F;
}