.banner-img-container {
    right: 0;
    left: 0;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.banner-img-container img {
    position: absolute;
    width: 1400px;
    height: auto;
    top: -210px;
    left: -70px;
}

.show-content {
    display: flex;
    justify-content: center;
}

.show-left-container {
    width: 640px;
    height: 100px;
    background-color: red;
    margin: 15px;
}

.show-right-container {
    width: 320px;
    height: 100px;
    background-color:red;
    margin: 15px;
}